<div class="sidebar">
    <div class="img-container"><img src="../../assets/austin.jpg" alt="Austin" class="self-img"></div>
    <p class="sidebar-bg">Full-Stack Software Developer</p>
    <p class="sidebar-bg">&bull; Asks which IPAs are on tap &bull; Lifts heavy things</p>
    <ul class="nav flex-lg-column justify-content-center sidebar-bg">
        <li class="nav-item">
            <a href="#about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
            <a href="#projects" class="nav-link">Projects</a>
        </li>
    </ul>
    <ul class="contact-nav sidebar-bg w-100 d-none d-lg-block">
        <li><a href="#"><i class="fas fa-map-marker-alt fa-sm"></i>Somerville, MA</a></li>
        <li><a href="https://www.linkedin.com/in/austin-richburg/" target="_blank" target="_blank"><i class="fab fa-linkedin fa-sm"></i>/in/austin-richburg</a></li>
        <li><a href="#"><i class="fas fa-envelope fa-sm"></i>austintrichburg@gmail.com</a></li>
        <li><a href="https://github.com/AustinRichburg" target="_blank"><i class="fab fa-github fa-sm"></i>AustinRichburg</a></li>
    </ul>
</div>

<div class="contact-container w-100 d-lg-none">
    <ul class="contact-nav">
        <li><a href="#"><i class="fas fa-map-marker-alt fa-sm"></i>Somerville, MA</a></li>
        <li><a href="https://www.linkedin.com/in/austin-richburg/" target="_blank"><i class="fab fa-linkedin fa-sm"></i>/in/austin-richburg</a></li>
        <li><a href="#"><i class="fas fa-envelope fa-sm"></i>austintrichburg@gmail.com</a></li>
        <li><a href="https://github.com/AustinRichburg" target="_blank"><i class="fab fa-github fa-sm"></i>AustinRichburg</a></li>
    </ul>
</div>
